@model SPaPS.Models.AccountModels.ChangePasswordModel

@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Промени лозинка</h2>
<br />

<form asp-action="ChangePassword" method="post">
    <div class="col-12">
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="OldPassword" type="password" class="form-control" placeholder="Password">
                <label asp-for="OldPassword"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Password">
                <label asp-for="NewPassword"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password">
                <label asp-for="ConfirmPassword"></label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Промени</button>
</form>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>