@model SPaPS.Models.AccountModels.ForgotPasswordModel;

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заборавена лозинка</h2>
<br />

<form asp-action="ForgotPassword" method="post">
    <div class="col-12">
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                <label asp-for="Email"></label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Промени</button>
</form>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>
