@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Заклучен профил
}

<p>Почитувани,</p>

<p>
    Вашиот профил е заклучен. Обратете се кај администратор за ви го отклучи,
    а потоа кликнете на линкот за да ја промените лозинката:
</p>
<p>
    @ViewBag.Callback
</p>