@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{
Subject: Ново барање
}

<p>Почитувани,</p>

<p>
    Поднесено е барање што ги исполнува условите кои вие ги исполнувате. Ве молиме контактирајте не.
</p>
<p>
    Со почит,
    SPaPS
</p>