@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Ресетирање лозинка
}

<p>Почитувани,</p>

<p>Вашата лозинка е ресетирана. За да внесете нова лозинка по ваш избор, кликнете на линкот:</p>

<p>
    @ViewBag.Callback
</p>
